.bg {
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.titulo{
    color: aliceblue;
    margin-top: 50px;
}

.rows {
    background-color: rgba(255, 255, 255, 0.5); 
    border: 0;
}

input{
    background-color:rgba(0,0,0,0) !important;
    color: aliceblue;
 }

 input.form-control::placeholder {
    color:rgb(162, 177, 190)
}

.form-select{
    background-color:#000428 !important;
    color: aliceblue;
 }

#boton{
    margin-bottom: 20px;
}